/*============================*/
/*        SETUP STYLES        */
/*============================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #fff;
  overflow-y: scroll;
}

body {
  font-family: "Oxanium", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #343a40;
}

/*============================*/
/*  GENERAL REUSABLE STYLES   */
/*============================*/

/*--------IMAGES--------*/
.logo {
  margin: 1.8rem 2rem;
  width: 14rem;
  height: auto;
}

/*--------MARGIN--------*/

.margin-bottom--sm {
  margin-bottom: 1.2rem !important;
}

.margin-bottom--md {
  margin-bottom: 2rem !important;
}

.margin-bottom--lg {
  margin-bottom: 2.4rem !important;
}

.margin-top--xlg {
  margin-top: 7.4rem !important;
}

.margin-nav {
  margin-top: 9.6rem !important;
}

.margin-nav--sm {
  margin-top: 8rem !important;
}

/*============================*/
/*      NAVIGATION STYLES     */
/*============================*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  height: 8rem;

  background-color: rgba(255, 255, 255, 0.99);
  border-bottom: 1px solid #0d9c90;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(1px);

  /* Fixed Nav Bar */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  list-style-type: none;
  text-decoration: none;
  white-space: nowrap;

  font-size: 1.8rem;
}

.nav-btn {
  color: #343a40;
  padding: 1rem 2rem;
  border-radius: 5px;
  transition: all 0.3s;
  font-weight: 700;
}

.nav-btn:link,
.nav-btn:visited {
  text-decoration: none;
}

.nav-btn:hover {
  color: #0d9c90;
  background-color: #e9ecef;
}

.nav-btn:active {
  background-color: #0d9c90;
  color: #fff;
}
