/* GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    margin: 0 auto;
  }
  
  body {
    font-family: "Oxanium", sans-serif;
    background-color: #e2ece9 ;
  }

a{
    text-decoration: none;
}

a:hover .year {
    color: #0d9c90;
}
  
/* NAVIGATION BAR */
  /* .logo {
    margin: 10px 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    list-style-type: none;
    text-decoration: none;
  }
  
  .nav-btn {
    color: #343a40;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .nav-btn:link,
  .nav-btn:visited {
    text-decoration: none;
  }
  
  .nav-btn:hover {
    color: #0d9c90;
    background-color: #e9ecef;
  }
  
  .nav-btn:active {
    background-color: #0d9c90;
    color: #fff;
  } */
  

.gallery-header {
    position: relative;
    left: 20%;
    margin-right: 50%;
    color:#0d9c90;
    font-family: "Oxanium", sans-serif;
    text-wrap: wrap;
}
.gallery-header h1{
    font-size: 5rem;
}

.gallery-header p{
    color: #343a40;
    font-size: 1rem;
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    max-width: 2000px;
    margin: 2rem auto;
    justify-content: center;
    align-items: center;
}

.gallery-item {
    overflow: hidden;
    cursor: pointer;
}


.gallery-img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.year {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Press Start 2P", system-ui;
    color: #343a40;
    font-size: 1.3rem;
    margin: auto;
    transition: color 0.3s ease;
}

@media (min-width: 1024px) {

    .gallery{
        flex-direction: row;
        margin: 2rem auto;
        padding: 0 2.5rem;
    }

    .gallery-header h1{
      font-size: 7rem;
    }

    .gallery-header p{
      font-size: 1.3rem;
    }

    .year{
        display: block;
        font-size: 2rem;
        margin-left: 2rem;
    }

}
